// Colors
$primary-color: #C25757;
$secondary-color: #EFBEBE;
$background-color: #F3E8E8;
$text-color: #333;
$link-color: #000;
$link-hover-color: $primary-color;

// Fonts
$font-family-base: 'Mada', sans-serif;

// Spacing
$padding-base: 1rem;
$margin-base: 1rem;
$border-radius: 5px;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 