.carousel {
  text-align: center;
}


.carousel-inner {
  height: 90vh;

  .carousel-item {
    height: 90vh;

    .carousel-caption {
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}


.popular-dishes {
  height: 70vh;
  margin-bottom: $margin-base;

  .card-img-top {
    height: 60vh;
    object-fit: cover;
  }

  .card-body {
    padding: 0.5rem;
    height: 80px;
  }

  h2 {
    padding-top: $padding-base;
    text-align: center;
  }

  p {
    font-size: 1.3rem;
    text-align: center;

    &:hover {
      color: $primary-color;
      font-weight: bold;
      size: 2rem;
    }
  }
}