/* Contact Section */
.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;

  .contact-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-bottom: 2rem;
    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    .fcontrol {
      width: 100%;
      padding: 0.75rem;
      margin: 1rem 0;
      @include borders;
      font-size: 1rem;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    .flabel {
      font-weight: bold;
    }

    .error-message {
      color: red;
      font-size: 0.875rem;
    }

    button {
      @include buttons;
    }

    .success-message {
      margin-top: 1rem;
      color: green;
      font-weight: bold;
      text-align: center;
    }
  }

  .app {
    max-width: 100%;
    margin-top: 5rem;

    img {
      @include center-flex;
    }
  }
}