.container {
  h1 {
    text-align: center;
    margin-top: 1rem;
  }
  
  #recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .recipe {
    background-color: white;
    @include borders;
    margin: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
  }

  .recipe img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .recipe h3 {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .recipe p {
    font-size: 1rem;
  }

  .recipe span {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
