.forum {
  .forum-title {
    text-align: center;
    padding-top: $padding-base;
  }

  .row {
    row-gap: 1rem;
  }
}


.funny-quote {
  text-align: center;
  padding-top: $padding-base;
  margin-top: 3rem;
  border-top: 1px solid $primary-color;
  justify-content: center;

  form {
    @include center-flex;
    gap: 10px;
    margin-bottom: $margin-base;
  }

  input {
    height: 35px;
    background-color: $primary-color;
    color: white;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin: 0 $margin-base;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: darken($background-color, 90%);
    }
  }
}